<div class="flex h-[calc(100vh-65px)] flex-col">
    <div
        *ngIf="tabs.length > 0"
        class="border-2 border-b border-gray-200 bg-gray-400 text-center text-sm font-medium text-gray-500"
    >
        <ul class="flex flex-wrap">
            <li
                *ngFor="let tab of tabs; let i = index"
                class="flex items-center text-black"
                [ngStyle]="{ 'background-color': selectedTab === i ? 'white' : 'transparent' }"
            >
                <a
                    href="#"
                    (click)="selectTab(i)"
                    class="inline-block rounded-t-lg p-2 text-xs font-semibold"
                >
                    {{ tab.tableName }}
                </a>
                <span
                    class="text-md mr-2 cursor-pointer"
                    (click)="closeTab(i)"
                    >&times;</span
                >
            </li>
        </ul>
    </div>

    <div class="bg-gray-200 p-2 text-sm dark:bg-gray-800">Tools</div>

    <div class="flex flex-1 flex-col overflow-auto bg-gray-100 dark:bg-gray-900">
        <div class="flex flex-1 flex-col">
            <div
                *ngIf="selectedTab !== -1"
                class="flex-1"
            >
                <textarea
                    #editor
                    class="h-full w-full resize-none rounded-md bg-white p-4"
                ></textarea>
            </div>
        </div>
    </div>

    <div class="flex-1 overflow-auto bg-gray-100 p-2 dark:bg-gray-900">
        <div class="mb-1 flex items-center justify-between text-sm font-semibold">
            <div class="text-sm"><app-resultgrid></app-resultgrid></div>
        </div>
    </div>
</div>
